.hrs {
    width: 150px;
    margin-top: 4px;
}

.cat {
    background: #5fcf80;
    text-align: center;
    color: white;
}

.h1style {
    font-size: 30px;
    color: black;
}

.cattxt {
    text-align: center;
    font-size: 20px;
    color: black;

}

.coursetxt {
    color: grey;
    font-weight: bold;
    font-size: 20px;
}

.tuttext {
    text-align: center;
    color: black;
    font-size: 14px;
}

.cardbor {
    border: 2px solid #eef0ef
}